@page
@model SkillMatrix.Web.Areas_Admin_Pages_Consultants.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Consultant</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consultant.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consultant.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consultant.Prenom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consultant.Prenom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consultant.Titre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consultant.Titre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consultant.ExperienceTotale)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consultant.ExperienceTotale)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consultant.Statut)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consultant.Statut)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Consultant.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
