@page
@model SkillMatrix.Web.Areas_Admin_Pages_Consultants.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Consultant[0].Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consultant[0].Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consultant[0].Titre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consultant[0].ExperienceTotale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consultant[0].Statut)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Consultant) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExperienceTotale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Statut)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
